<div class="card" data-id={{_id}}>
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <span class="card-text">With supporting text below as a natural lead-in to additional content.</span>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>