<div class="card" data-id="{{_id}}">
    {{!-- <div class="card-header">
        Featured
    </div> --}}
    <div class="card-body">
        {{!-- <h5 class="card-title">{{title}}</h5> --}}
        <a class="card-title"href="{{link}}">{{title}}</a>
        <button href="#" class="btn btn-primary">Go somewhere</button>
    </div>
</div>