<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
</nav>

<div class="container-fluid">

    {{!-- <div class="row"> --}}
        {{#each article}}
        {{> scrape-block}}
        {{/each}}
    {{!-- </div> --}}

</div>
<footer class="footer bg-dark">
    <div class="container">
        <p>Tyler's Scraper</p>
    </div>
</footer>
